@tailwind base;
@tailwind components;
@tailwind utilities;

.graphBg {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d7d7d7' fill-opacity='0.27'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.gradientText {
    background-image: linear-gradient( 90deg, rgb(255, 75, 129), rgb(86, 76, 255), rgb(76, 255, 136) );
    background-size: 400% 100%;
    
    background-clip: text;
    color: transparent;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rotateColor {
    animation: rotateColor 15s infinite alternate;
    -webkit-animation: rotateColor 15s infinite alternate;
}

.rotateColor25 {
    animation: rotateColor25 15s infinite alternate;
    -webkit-animation: rotateColor25 15s infinite alternate-reverse;
}

.rotateColor50 {
    animation: rotateColor50 15s infinite alternate;
    -webkit-animation: rotateColor50 15s infinite alternate;
}

.rotateColor75 {
    animation: rotateColor75 15s infinite alternate;
    -webkit-animation: rotateColor75 15s infinite alternate-reverse;
}

@keyframes rotateColor {
    0% {
        filter: hue-rotate(-110deg);
    } 50% {
        filter: hue-rotate(30deg);
    } 100% {
        filter: hue-rotate(-110deg);
    }
}

@-webkit-keyframes rotateColor {
    0% {
        -webkit-filter: hue-rotate(-110deg);
    } 50% {
        -webkit-filter: hue-rotate(30deg);
    } 100% {
        -webkit-filter: hue-rotate(-110deg);
    }
}

@keyframes rotateColor25 {
    0% {
        filter: hue-rotate(-75deg);
    } 37.5% {
        filter: hue-rotate(30deg);
    } 87.5% {
        filter: hue-rotate(-110deg);
    } 100% {
        filter: hue-rotate(-75deg);
    }
}

@-webkit-keyframes rotateColor25 {
    0% {
        -webkit-filter: hue-rotate(-75deg);
    } 37.5% {
        -webkit-filter: hue-rotate(30deg);
    } 87.5% {
        -webkit-filter: hue-rotate(-110deg);
    } 100% {
        -webkit-filter: hue-rotate(-75deg);
    }
}

@keyframes rotateColor50 {
    0% {
        filter: hue-rotate(-40deg);
    } 25% {
        filter: hue-rotate(30deg);
    } 75% {
        filter: hue-rotate(-110deg);
    } 100% {
        filter: hue-rotate(-40deg);
    }
}

@-webkit-keyframes rotateColor50 {
    0% {
        -webkit-filter: hue-rotate(-40deg);
    } 25% {
        -webkit-filter: hue-rotate(30deg);
    } 75% {
        -webkit-filter: hue-rotate(-110deg);
    } 100% {
        -webkit-filter: hue-rotate(-40deg);
    }
}

@keyframes rotateColor75 {
    0% {
        filter: hue-rotate(-5deg);
    } 12.5% {
        filter: hue-rotate(30deg);
    } 62.5% {
        filter: hue-rotate(-110deg);
    } 100% {
        filter: hue-rotate(-5deg);
    }
}

@-webkit-keyframes rotateColor75 {
    0% {
        -webkit-filter: hue-rotate(-5deg);
    } 12.5% {
        -webkit-filter: hue-rotate(30deg);
    } 62.5% {
        -webkit-filter: hue-rotate(-110deg);
    } 100% {
        -webkit-filter: hue-rotate(-5deg);
    }
}